* {
    font-family: arial;
    font-size: 10pt;
    margin-top: 3%;
}

.form-row {
    margin-bottom: 8px;
    overflow: hidden;
}

.form-row input {
    float: right;
    height: 19px;
    line-height: 19px;
    margin: 0px;
    padding: 0px 5px;
    width: 200px;
    border: 1px solid #ABADB3;
}

.reg-form {
    width: 300px;
    margin: 0 auto;
}

.form-row textarea {
    float: right;
    height: 50px;
    line-height: 16px;
    font-size: 12px;
    padding: 0px 5px;
    width: 200px;
    border: 1px solid #ABADB3;
}

.form-row input[type=submit] {
    padding: 5px;
    height: 25px;
    width: 100%;
    line-height: 10px;
    background: #337AB7;
    color: white;
}

.form-row input[type=submit]:hover {
    background: #286090;
}

.my-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center
}

.my-flex-block {
    padding: 5px;
    color: #000000;
}


/*
a.button {
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: rgb(212, 75, 56);
    padding: 10px;
    outline: none;
}




a.button:hover {
    background: rgb(232, 95, 76);
}




a.button:active {
    background: rgb(152, 15, 0);
}
*/